@model List<Invoice>

<h1 class="text-center">List of Invoices</h1>

<a class="btn btn-primary mb-1" asp-controller="Invoices" asp-action="Create">Create New Invoice</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Invoice No</th>
            <th>Status</th>
            <th>Client</th>
            <th>Total Price</th>
            <th>Issue Date</th>
            <th>Due Date</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        @foreach (var invoice in Model)
        {
            decimal totalPrice = invoice.Quantity * invoice.UnitPrice;
            <tr>
                <td>@invoice.Id</td>
                <td>@invoice.Number</td>
                <td>
                    @if (invoice.Status == "Paid")
                    {
                        <span class="badge bg-success">@invoice.Status</span>
                    }
                    else if (invoice.Status == "Pending")
                    {
                        <span class="badge bg-warning text-dark">@invoice.Status</span>
                    }
                    else if (invoice.Status == "Overdue")
                    {
                        <span class="badge bg-danger">@invoice.Status</span>
                    }
                </td>
                <td>@invoice.ClientName</td>
                <td>@("₦" + totalPrice.ToString("N2"))</td>
                <td>@invoice.IssueDate?.ToShortDateString()</td>
                <td>@invoice.DueDate?.ToShortDateString()</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-info btn-sm" asp-controller="Invoices" asp-action="Details" asp-route-id="@invoice.Id">Details</a>
                    <a class="btn btn-warning btn-sm" asp-controller="Invoices" asp-action="Edit" asp-route-id="@invoice.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Invoices" asp-action="Delete" asp-route-id="@invoice.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
